@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
	padding: 0;
	margin: 0;
}

.btn-common{
	background: blue;
	color: #fff !important;

	.mat-button-wrapper{

		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;	

		.icon{
			display: block;
			margin-left: -6px;
		}

		.label{
			margin-left: 10px;
		}
	}
}